/*por probar: 
Principal:
#1b212f
Complementary:
#2f1b21
#212f1b
<i class="fa fa-graduation-cap"></i>
<i class="fa fa-user-plus"></i>
<i class="fa fa-briefcase"></i>
<i class="fa fa-suitcase"></i>
*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Poppins", sans-serif;
    color: #1b212f;
}

.main-header {
    margin: 1rem auto;
    padding: 0.5rem 2rem;
    text-align: center;
    display: flex;
    align-items: center;
    background-color: #e4ded0;
}

.photo {
    text-align: center;
    width: 6rem;
    margin-right: 2%;
}

.photo-container {
    display: flex;
    border-radius: 50%;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.photo-container img {
    width: 100%;
    display: block;
    border-radius: 50%;
}

.main-header__title {
    font-size: 1.5rem;
    text-align: left;
}
.main-header__title strong {
    font-size: 1rem;
    color: rgba(20, 20, 20, 0.8);
    display: block;
}

.personal-info {
    padding: 1rem;
    background-color: #1b212f;
    color: #fff;
}

.personal-info__list {
    list-style: none;
    font-size: 1rem;
    width: 60%;
    margin: auto;
}

.personal-info__item {
    margin: 0.6rem 0;
}

.personal-info__item a {
    text-decoration: none;
    color: inherit;
    font-size: 0.8rem;
}

.main {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.main-article {
    width: auto;
    margin: 2rem;
}

.section-container {
    margin: 1.8rem 0;
}
.section-container > strong {
    font-size: 1rem;
}

.date {
    font-size: 0.8rem;
    margin: 0.6rem 0;
    display: block;
    color: rgba(20, 20, 20, 0.8);
    letter-spacing: 1px;
    text-transform: uppercase;
    font-style: italic;
}

.section-header {
    background: #1b212f;
    color: #fff;
    border-radius: 3px;
    padding-left: 2%;
}
.section-header__title {
    font-size: 1.5rem;
    display: inline-block;
    margin-left: 2%;
    vertical-align: middle;
}

.section-header i {
    font-size: 1rem;
    vertical-align: middle;
}

.section__article {
    margin: 1rem 0;
}

.article-info {
    font-size: 1rem;
    text-align: justify;
}

.aside-bar {
    width: auto;
    box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.5);
    padding: 1rem;
    display: flex;
    flex-direction: column;
    background: #1b212f;
    color: #fff;
    font-size: 0.9rem;
}

.aside-section {
    margin: 1rem 0;
}
.aside-section__title {
    font-size: 1rem;
    font-weight: bold;
}

.aside-list {
    list-style: none;
}

.aside-list__item {
    margin: 0.4rem 0;
}
.aside-list__item a {
    text-decoration: none;
    color: hsl(207, 90%, 44%);
}

.progress-bar-back {
    margin-top: 0.5rem;
    background-color: rgba(0, 0, 0, 0.1);
    height: 5px;
    border-radius: 6px;
    max-width: 300px;
    position: relative;
}

.progress-bar {
    position: absolute;
    top: 0;
    left: 0;
    height: 5px;
    border-radius: 6px;
    background-color: #2196f3;
    width: 60%;
}

.aside-list__item:first-child .progress-bar {
    width: 100%;
}

.btn-navbar {
    padding: 1rem;
}

.btn-list {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    flex-direction: column;
}

.btn-item {
    margin-left: 2%;
    background-color: #1b212f;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    letter-spacing: 2px;
    font-weight: bold;
    font-size: 0.9rem;
    margin: 0.7rem;
    padding: 1rem;
    border: 2px solid #1b212f;
    transition: all 0.4s ease;
    min-width: 13rem;
    text-align: center;
}

.btn-item__active {
    color: #1b212f;
    background: #fff;
}

.gallery {
    margin: 2rem 0;
    position: relative;
    overflow: hidden;
}

.project {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    -webkit-transition: transform 0.3s ease, opacity 0.3s ease;
    transition: transform 0.5s ease, opacity 0.3s ease;
    transform: translateY(0);
}

.hide {
    transform: translateY(100px);
    opacity: 0;
}
.gallery-item {
    width: 80%;
    margin: 0.7rem;
}

.gallery-item img {
    width: 100%;
}

@media screen and (min-width: 840px) {
    .main {
        justify-content: space-between;
        flex-direction: row;
    }
    .main-article {
        width: 60%;
    }
    .aside-bar {
        width: 30%;
    }
}

@media screen and (min-width: 640px) {
    .personal-info__list {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }
    .personal-info__item {
        /* width: 25%; */
        min-width: 13rem;
    }
    .personal-info__item a {
        margin-left: 2%;
    }
    .btn-list {
        flex-direction: row;
    }
    .btn-item {
        padding: 1rem 1.5rem;
        min-width: auto;
    }
    .project {
        flex-direction: row;
    }
    .gallery-item {
        width: 20%;
        min-width: 13rem;
        max-width: 18rem;
        margin-left: 2%;
    }
}
